.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(/260F6C8A-A351-42DD-BE4C-0066168A3763.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(/image_50363905.JPG);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(/image_6483441.JPG);
}
